*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background:rgb(27,27,27);
    font-family:Arial,Tahoma,Helvetica,sans-serif;
    font-size:16px;
    color: white;
    overflow-x: hidden;
}
/*header start*/
.main{
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 78px;
    background-color: black;
    position: relative;
}
header.sticky{
    position: fixed;
    background-color: rgba(5, 5, 5,.6);
    z-index: 100000;
}

.logo{
    width:190px;
}

.nav-bar{
    position: absolute;
    top: -8px;
    left: 267px;
}

.nav-bar >li {
    position: relative;
    list-style: none;
    display: inline;
    line-height: 60px;
    padding: 25px 10px;
    font-size: 18px;
    transition: all .5s;
}
.nav-bar>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 90%;
    /* line-height: 50px; */
}
.nav-bar>li:hover>a{
    padding-bottom: 15px;
    border-bottom:2px solid white;
}

.nav-bar>li>a>i{
    margin-top: -10px;
    margin-left: 3px;
    line-height: 1.2px;
    font-size: 16px;
    opacity: 0.6;
    height: 500;
}

.sub-nav{
    position: absolute;
    background-color: rgba(255, 255, 255);
    box-shadow: 0px 2px 10px 2px  rgba(33, 34, 34,.8);
    border-radius: 3%;
    font-size: 15px;
    overflow: hidden;
    display: none;
    z-index: 100;
}


.sub-nav li {
    display: inline-block;
    list-style: none;
    margin-left: -40px;
    line-height: 50px;
    width: 180px;
}

.sub-nav li ul li:hover a{
    background-color: rgba(182, 192, 192, 0.8);
    border-radius: 10px;
}

.sub-nav li a{
    display: block;
    width: 150px;
    font-size: 90%;
    text-decoration: none;
    padding-left: 30px;
    color: rgb(78, 76, 76);

}
.sub-nav.nav{
    width: 340px;
}
.sub-nav.nav-2{
    width: 500px;
}
.sub-nav.nav-3 li a{
    width: 180px;
}
.nav-bar li:hover .sub-nav{
    display: block;
}
.nav-2{
margin-left:115px;
}
.nav-3{
    margin-left: 275px;
}

.search{
    position: absolute;
    left: 275px;
    top: 25px;
    color: white;
    margin-left: 0px;
    background-color: rgb(73,155,227);
    width: 30px;
    height: 30px;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 50%;
    padding-top: 6px;
}

.search:hover{
    background-color: rgb(108, 182, 247);
}
.nav-cart {
    position: absolute;
    width: 112px;
    height: 30px;
    top: 20px;
    right: 40px;
    z-index: 10000;
}
.cart{
    position:relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 10px;
    z-index: 100;
}

.cart .text{
    font-size: 80%;
}

.cart .cart-icon{
    position: absolute;
    width: 28px;
    height: 28px;
    border: 2px white solid;
    margin-left: 10px;
    top: -10px;
    /* background: #000; */
    text-align: center;
    padding-top: 3px;
    z-index: 100;
}
.cart .cart-icon::after{
    content: '';
    position: absolute;
    width: 9px;
    height: 6px;
    border-radius: 50%  50% 0%  0%;
    border: 2px solid white;
    border-bottom: 0px;
    top: -8px;
    right: 5px;
    z-index: -1;
}
.cart:hover .cart-icon {
    background-color: white;
    color: black;
}
.cart:hover .cart-icon::after{
    position: absolute;
    transform: translateY(-1.5px);
}
.non-cart{
    position: absolute;
    top:40px;
    right: 5px;
    width: 260px;
    height: 105px;
    font-size: 95%;
    background-color:white;
    text-align: center;
    padding:10px 15px;
    border-radius: 1%;
    box-shadow: 0px 0px 7px 3px  rgba(12, 12, 12,.4);
    display: none;
    z-index: 1000;
}
.non-cart p{
    color: rgb(114, 112, 112);
}
.nav-cart .cart-list{
    position: absolute;
    width: 260px;
    height: 80vh;
    left: -115px;
    top:30px ;
    font-size: 16px;
    background-color:white;
    color: rgb(78, 76, 76);
    text-align: center;
    padding-top: 40px;
    border-radius: 1%;
    box-shadow: 0px 0px 7px 3px  rgba(12, 12, 12,.4);
    z-index: 1000;
    display: none;
    transition: all .5s;
}

.nav-cart:hover .cart-list,
.nav-cart:hover .non-cart
{
    display: block;
}
.cart-list .list-product{
    width: 230px;
    height: 55vh;
    margin-left: 15px;
    overflow-y: scroll;
}

.mini-cart{
    position: relative;
    top: 0px;
    width: 100%;
    height:80px;
    margin-bottom: 10px;
}

.mini-cart img{
    position: absolute;
    left: 0px;
    width: 65px;
}
.text-large,.text-small{
    width: 135px;
    font-size: 80%;
    display: block;
    margin-left: 50px;
    word-wrap: break-word;
    text-align: start;
    padding-left: 25px;
    padding-top: 5px;
}
.rules{
    position: absolute;
    top: 75px;
    width: 213px;
    height: 1px;
    display: block;
    background-color: rgb(156, 152, 152);
}
.remove{
    position: absolute;
    top: 5px;
    right: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(143, 137, 137);
    color:rgb(143, 137, 137);
    border-radius: 50%;
    cursor: pointer;

}
.remove:hover{
    border:2px solid black;
    color: black;
}

.view-cart,
.bill-product{
    position: absolute;
    bottom: 13%;
    left: 6%;
    width: 230px;
    height: 40px;
    background-color:rgb(73,155,227);
    line-height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .3s;
}
.view-cart >a,
.bill-product>a{
    text-decoration: none;
    color: aliceblue;
}
.bill-product{
    position: absolute;
    bottom: 5%;
    background-color: rgb(187, 77, 37);
}
.view-cart:hover,
.bill-product:hover{
    filter: brightness(85%);
}

.account{
    position: absolute;
    bottom: 35px;
    right: 30px;
    z-index: 1000;
}
.account-form{
    position: absolute;
    right: 0px;
}
.account-form button a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 12px 0;
    color: #353333;
}
.account .heading{
    font-size: 80%;
    text-align:center;
    width: 150px;
    height: 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.account-form div div{
    position: absolute;
    top: 37px;
    right: 20px;
    width: 235px;
    height: 210px;
    background-color: white;
    /* align-items: center; */
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

}
/* .account-form >div{
} */
.account-form div div::before{
    cursor: pointer;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: 20px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
}

.account-form button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 95%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    /* text-align: start; */
    cursor: pointer;
    /* padding: 12px 0; */
}
.account-form button:hover{
    /* filter: brightness(110%); */
    opacity: .85;
}
.account-form button:nth-child(1),
.account-form button:nth-child(2){
    background-color: rgb(253,216,53);
}
.account-form button:nth-child(3){
    background-color: rgb(59,89,152);
    color: white;
}
.account-form button:nth-child(4){
    background-color: #b82828;
    color: white;
}
.account-form button >i{
    width: 40px;
    height: 100%;
    border-right: 1px solid #777676;
    font-size: 150%;
    padding-top: 10px;
    float: left;
}
.account-form button >span{
    margin-top: 10px;
}
.account  h3:active{
    color:#dbdbdb;
}

.account-form >div:hover .sign-in{
    opacity: 1;
    visibility: visible;
}



/*header end*/

/* first content start*/

.content{
    position: relative;
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
    top: 1px;
}

.content-slider {
    position: relative;
    width: 100%;
}

.content-slider .row{
    display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.content-slider .row >div{
    overflow: hidden;
}
.slider{
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(6,100%);
}
.slider .picture{
    width: 100%;
}

.content-slider .btn-auto{
    position: absolute;
    top: 230px;
}

.content-slider:hover .btn-auto #prev{
    display:block;
    position: absolute;
    left: 30px;
}
.content-slider:hover .btn-auto #next{
    display:block;
    position: absolute;
    left: 1174px;
}
.btn-auto .btn{
    /* position: absolute;
    top: 230px; */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    /* padding: 7.188px; */
    padding-top: 3px;
    padding-left: 8px;
    border: 2px solid rgb(255, 245, 245,0.6);
    font-size: 20px;
    outline: none;
    color:rgb(255, 245, 245,0.6);
    background-color: transparent;
    cursor: pointer;
    display: none;
}

#next{
    position: absolute;
    left: 1200px;
}

#prev{
    position: absolute;
    left: 40px;
}

.btn-auto #prev:hover,
.btn-auto #next:hover{
    background-color: rgb(73,155,227);
    border:2px solid rgb(73,155,227) ;
    color: white;
}

.btn-auto ul{
    position: absolute;
    display: flex;
    top: 280px;
    left: 530px;
}
.btn-auto ul li {
    list-style: none;
    width: 12px;
    height: 12px;
    border: 3px solid rgb(255, 245, 245,0.6);
    border-radius: 50%;
    cursor: pointer;
}
.btn-auto ul li:not(:last-child){
    margin-right: 10px;
}
/* thêm vào options */
.color{
    background-color: rgb(255, 245, 245,0.9);
}

/*content banner*/
.banner{
    position: relative;
    top: 60px;
}

.row-banner .col > a,
.banner-bg .col > a{
    text-align: center;
}

.row-banner .col .img,
.banner-bg .col .img{
    filter: brightness(70%);
    transition: all .4s;
}
.row-banner .col >a,
.banner-bg .col >a{
    position: relative;
    width: 200px;
    background-color:rgb(253, 255, 255);
    padding: 8px 14px;
    color: rgb(116, 119, 122);
    text-decoration: none;
    top: -42px;
    left: 250px;
    transition: all .4s;
}
.banner-bg .row{
    width: 100%;
    margin-left: 0px;
}
.banner-bg .col{
    height: 638px;
}
.row-banner .col:hover .img,
.banner-bg .col:hover .img {
    filter: brightness(100%);
}
.row-banner .col:hover a{
    position: relative;
    top: -50px;
}
.row-banner .col a:hover,
.banner-bg .col a:hover{
    filter: brightness(85%);
}
.row-banner .col .img{
    width: 100%;
}
.banner-bg .col .img{
    width: 100%;
}

.banner-bg .col .text-banner{
    position: relative;
    top: -200px;
    color: rgb(248, 247, 246);
    text-align: center;
}
.banner-bg  .col a{
    position: relative;
    top: -185px;
    left: 38%;
}
.banner-bg .col:hover a{
    position: relative;
    top: -195px;
}
.text-banner{
    width: 100%;
}
.text-banner >div{
    padding: 5px;
}
.large-text{
    font-size: 250%;
    font-weight:700;
    font-style:oblique;
    letter-spacing: 3px;
}

.small-text{
    font-size: 160%;
}
.col .text-banner{
    transition: all .4s;
}
.col:hover .text-banner{
    transform: translateY(-8px);
}


.new-pt {
    position: relative;
    bottom: -170px;
    transition: all .3s;
}
.new-pt .product img{
    width: 100%;
}

.new-pt .product:hover{
    transform: translateY(-5px);
}

.section-title{
    position: absolute;
    width: 100%;
    top: -45px;
}

.title{
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}
.title b{
    width: 520px;
    height: 2px;
    background-color: rgb(107, 109, 110);
}
.section-title .title .title-main{
    width: 200px;
}
.title .title-main{
    width: 126px;
    padding: 0 10px;
    margin-top: -6px;
    color: rgb(212, 221, 228);
}

.onSale{
    position: relative;
    top: 70px;
    left:10px;
    width: 44px;
    height: 44px;
    background-color: rgb(73,155,227);
    border-radius: 50%;
    text-align: center;
}
.onSale .sale{
    line-height: 45px;
}
.text-box{
    width: 100%;
    height: 60px;
    margin-top: -3.08px;
    text-align: center;
    padding: 15px 15px 20px;
}
.title-wrapper{
    color: rgb(173,173,173);
    font-size: 90%;
}
.price-wrapper{
    font-weight: 700;
    color: rgb(231, 226, 226);
    margin-top: 5px;
}
.price-wrapper .sale-off{
    text-decoration:line-through;
    font-size: 90%;
    font-weight:100;
    margin-right: 3px;
    /* font-size: ; */
    color: rgb(173,173,173);
}
.new-pt .product:hover .text-box{
    background-color:rgb(39,39,39);
}

.section-title-main{
    position: absolute;
    top: -25px;
    width: 100%;
}
.section-title-main .title b{
    width: 570px;
}

.product-small{
    position: relative;
    /* top: 200px; */
    bottom: -230px;
}
.product-small .col img{
    width: 100%;
}

.product-small .text-box{
    text-align: start;
    padding: 0px;
    margin-top: 10px;
}

.product-small .col .onSale{
    position: relative;
    top: 80px;
}


.popup{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(17, 17, 17, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    /* display: none; */
}

.popup .popup-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 563px;
    height: 65px;
    top: 0px;
    left: 25%;
    background-color:rgba(194, 189, 189, 0.1);
    border-radius: 50px;
    line-height: 60px;
    backdrop-filter:blur(3px);
    /* filter: blur(); */
    color: aliceblue;
}
.popup-close{
    position: absolute;
    top: -130px;
    right: -300px;
    text-decoration: none;
    color: rgb(185, 183, 183);
    font-size: 250%;
}

.popup-close:hover{
    color: rgb(238, 229, 229);
}
.popup .popup-content #input{
    font-size: 25px;
    width: 500px;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(227, 230, 233);
    padding-left: 26px;
    padding-top: 18px;
}

.popup-content input::placeholder{
    color: rgb(227, 230, 233);
}
.popup-content>span>a{
    position: absolute;
    font-size: 28px;
    right: 20px;
    top: 6px;
    cursor: pointer;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup:target .popup-content{
    top: 45%;
    transition: all .6s;
}
.form-element{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.5);
    color: black;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: all .7s;
}
.form-element.active{
    opacity: 1;
    visibility: visible;
    transition: all .7s;
}
.form{
    position: absolute;
    top: 14%;
    left: 30%;
    width: 500px;
    height: 550px;
    background-color: aliceblue;
    border: 1px solid rgba(44, 43, 43,.2);
    border-radius: 20px;
}
/* .form-element:target{
    opacity: 1;
    visibility: visible;
} */

.form .mk{
    position: absolute;
    margin-top: 10px;
    width: 90%;
    height: auto;
    /* top: 169px; */
    left: 90px;
}
.form .mk p{
    font-size: 90%;
}
.form .mk p a{
    text-decoration: none;
}
.heading-form{
    width: 60%;
    display: flex;
    justify-content: center;
}
.heading-form h3{
    width: 130px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}
#form-sign{
    border-bottom: 2px solid rgb(30,156,241);
}
#form-sign.active{
    border-bottom: 2px solid transparent;
}
#create{
    border-bottom: 2px solid transparent;
}
#create.active{
    border-bottom: 2px solid rgb(30,156,241);
}
.form-close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    text-decoration: none;
    font-size: 25px;
}
.form__group{
    position: relative;
    height: 35px;
    width: 100%;
    margin-top: 20px;
    display: flex;
}
#form-1 .form__group >div{
    display: flex;
}
#form-1 .form__group span{
    width: 80%;
    float: right;
    font-size: 80%;
    color: red;
}
.form__group input{
    display: block;
    height: 35px;
    width: 357px;
    outline: none;
    border: 1px solid rgb(133, 132, 132);
}
.form__group.button{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    /* text-align: end; */
    /* top: 100px; */
}

.form__group.button button{
    position:relative;
    left: 90px;
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
    margin-top: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.form__group.button button:hover{
    opacity: .8;
}
.form__group.button button:nth-child(1){
    background-color: rgb(253,216,53);
    color: black;
    display: block;
    height: 40px;
}
.form__group.button button:nth-child(2){
    background-color: rgb(59,89,152);
}
.form__group.button button:nth-child(3){
    background-color: #b82828;;
}
.form__group.button button i{
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 105px;
    height: 100%;
    padding-left: 10px;
}
#error-message{
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    right: 0;
    width: 80%;
    font-size: 90%;
    color: red;
}
.group{
    position: relative;
    top: 0;
    left: 25px;
    width: 90%;
    /* justify-content: center; */
}

.form__label{
    display: block;
    width: 90px;
}
#form-2{
    position: absolute;
    width: 90%;
    left: 25px;
    display: none;
    /* top: 15%;
    left: 30%; */
}
.form__group.radio{
    width: 100%;
}
.form__group.radio span{
    /* display: block; */
    padding: 10px 10px 10px 0;
    width: 90px;
}
.form__group.radio .form-radio{
    padding: 13px 10px 10px 5px;
}
.gender{
    display: flex;
    margin-left: -5px;
    width: 150px;
}
.gender input{
    width: 25px;
    padding: 10px;
}
#form-2 p{
    width: 90px;
    height: 35px;
    margin: 0;
}
#form-2 .form__group.date span{
    width: 105px;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    box-shadow: 0 0 5px rgba(107, 107, 107,.2);
    cursor: pointer;
}#form-2 .form__group.date span:not(:first-child){
    margin-left: 10px;
}
.form__group.check{
    position: relative;
    width: 80%;
    left: 90px;
}
.form__group.check .checked{
    font-size: 84%;
}
.form__group.check #form-check{
    width: 20px;
    margin: 0;
    margin-top: -9px;
}
 #form-2 .form__group.button-2{
    
     position: relative;
     /* bottom: 0; */
     width: 100%;
     height: 40px;
     text-align: center;
}
#form-2 .form__group.button-2 button{
    background-color: rgb(253,216,53);
    color: black;
    align-items: center;
    width: 80%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 90px;
}
.container-news{
    position: relative;
    top: 350px;
}
.container-news .row img{
    width: 100%;
}
.container-news .row a{
    text-decoration: none;
}
.section-title-news{
    position: absolute;
    top: -80px;
    width: 100%;
}
.section-title-news .title b{
    width: 544px;
    margin-left: 8px;
}
.post-title-main{
    position: relative;
    top: -200px;
    width: 598px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 11.5px 14.4px 14.4px;
    text-align: center;
    color: white;
    transition: all .5s;
}

.post-title-large{
    font-size: 100%;
    width: 100%;
    text-transform: uppercase;
    word-spacing: 3px;
}
.post-title-large b{
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgb(91, 94, 97);
    top: 55px;
    left: 46%;
}

.post-title-small{
    margin-top: 25px;
    font-size: 90%;
    color: rgb(171, 176, 180);
}

.container-news .col:hover .post-title-main{
    background-color: rgb(73,155,227);
}

.container-news .col:hover .post-title-main
.post-title-large::after{
    background-color: rgb(125, 188, 243)
}

.container-news .col:hover .post-title-main
.post-title-small{
    color: white;
}

.ultra{
    padding-top: 20px;
}
.ultra .post-title-large::after{
    margin-top: -10px;
}

/* footer */

.footer-wrapper{
    position: relative;
    bottom: -340px;
}
.footer-wrapper .col span,
.footer-wrapper .info span{
    position:absolute;
    width:350px;
    height: 2px;
    background-color: rgb(157, 161, 165);
}

.footer-wrapper p{
    margin-top: 50px;
    font-size: 95%;
    line-height: 25px;
}
.follow-icon{
    display: flex;
}
.follow-icon a{
    position: relative;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    padding-top: 5px;
    margin: 0 5px;
    border-radius: 50%;
    text-align: center;
}
.follow-icon i{
    font-size: 120%;
    color: aliceblue;
}
.fb:hover{
    background-color: rgb(21,162,250);
    border: 2px solid rgb(21,162,250);
}
.ins:hover{
    background-image: linear-gradient( to right,rgb(87,86,210),rgb(217,64,120));
    border: 2px solid rgb(206, 97, 97);
}
.mail:hover{
    background-color: rgb(212, 28, 28);
    border: 2px solid rgb(212, 28, 28);
}
.clearfix{
    height: 80px;
    margin-top: 50px;
}
.payment{
    margin-top: -80px;
    float: right;
    display: flex;
}
.payment i{
    width: 50px;
    height: 32px;
    font-size: 30px;
    filter: brightness(80%);
}
.payment i:hover{
    filter: brightness(100%);

}
.navigation{
    position: relative;
    top: 0;
    left: -10px;
    display: none;
}
.checkbox{
    display: none;
}

.button{
    position: absolute;
    top: 5px;
    left: 80px;
    z-index: 2000;
    cursor: pointer;
    /* text-align: center; */
}
.navigation__nav{
    height: 100vh;
    width: 0;
    position: absolute;
    top: 0px;
    left: 65px;
    z-index: 1500;
    background-color: rgb(240, 227, 227);
    transition: all .8s;
    opacity: 0;
    visibility: hidden;
}

.checkbox:checked~.navigation__nav{
    opacity: 1;
    width: 236px;
    visibility: visible;
}


.list{
    position: absolute;
    top: 90px;
    left: -50px;
    list-style: none;
    /* text-align: center; */
}

.navigation__item{
    line-height: 50px;
    width: 200px;
    margin-left: 1rem;
}

.navigation__item.sch{
    width: 100%;
    height: 40px;
    background-color: rgb(234,234,234);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(117, 115, 115, 0.3);
}
.navigation__item.sch input{
    outline: none;
    border: none;
    background-color: rgb(234,234,234);

}
.navigation__item.sch i{
    font-size: 130%;
    color: #948e8e;
    cursor: pointer;
}

.navigation__link,.navigation__link:link,
.navigation__link:visited{
        display: block;
        font-size: 90%;
        font-weight: 500;
        padding-left: 10px;
        color: rgb(73, 70, 70);
        text-decoration: none;
        text-transform: uppercase;
        transition: all .4s;
}
.navigation__nav .view-cart,
.navigation__nav .bill-product{
    position: relative;
    top: 400px;
    left: 25px;
    width: 180px;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
}


.list .navigation__item:hover .navigation__link{
background-color: #dbd4d4;
}
.icon{
    position: relative;
    margin-top: 2.5rem;
}
    .icon,
    .icon::before,
    .icon::after{
        width: 35px;
        height:3px;
        background-color:#c4b8b8;
        display: inline-block;
    }

    .icon::before,
    .icon::after{
        content: "";
        position: absolute;
        left: 0;
        transition: all .7s;
    }

    .icon::after{
        top: -.8rem;
    }

    .icon::before{
        top: .8rem;
    }
.button:hover .icon::before{
    top: -1rem;
}

.button:hover .icon::after{
    top: 1rem;
}

.checkbox:checked + .button .icon{
    background-color: transparent;
}

.checkbox:checked + .button .icon::before{
    top: 0;
    left: 180px;
    transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after{
    top: 0;
    left: 180px;
    transform: rotate(-135deg);
}

